name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin' 
          java-version: '25'
          cache: gradle

      - name: Run tests and sonar
        run: ./gradlew test jacocoTestReport sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Upload test report
        if: always()      
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: build/reports/tests/test/